.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

.quarto/
.vscode/

_thankfulness/*
_*.qmd

blog-notes.txt

_img/
_tmp/



data/
_reports/*
_freeze


wishes*
/.quarto/

_other-doccs/*

blood_files/*
_site/blood_files

blood-bmt_files/*
_site/blood-bmt_files

