.box-float-right {
    width: 25%;
    float: right;
    margin-bottom: 30px;
    font-size: 76%;
    text-align: center;
}

.img-float-right {
  width: 40%;
  float: right;
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 76%;
  text-align: center;
}




.box-cc-important{
      border-left: thick solid #2c3e50;
      padding-left: 1rem;
}


.center {
  text-align: center;
}


/* tweak to task list --- */
ul.task-list {
    margin-left: 1em;
    padding-left: 1em;
}